/* header css start */
.page-wrapper .page-header .header-wrapper .nav-right>ul {
    margin: 0;
}
body {
    background-color: #f6f8fc !important;
}
body.dark-only {
    background-color: #10101c !IMPORTANT;
}

.sidebar-wrapper .logo-wrapper .mill {
    text-align: left;
    padding: 0;
    margin-bottom: 6px;
}

.sidebar-wrapper .logo-wrapper span {
    padding: 0px 22px;
    margin: 0 !important;
}

.sidebar-wrapper .logo-wrapper br {
    display: none;
}

/* header css end */

/*admin dashborad scroll css start*/

.dashboard .card::-webkit-scrollbar {
    width: 5px;
  }
  
  .dashboard .card::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .dashboard .card::-webkit-scrollbar-thumb {
    background: #9693f9;
  }

/*admin dashborad scroll css end*/

/* admin announcement css start */
.display.bbb {
    width: 100%;
}
nav.sidebar-main .sidebar-link {
    text-decoration: none;
}

/*employee clander css start*/
#event-details-modal .modal_dl_wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.9);
}

#event-details-modal .modal_dl_wrap .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
}

#event-details-modal .modal_dl_wrap button {
    z-index: 99;
    position: relative;
}

#event-details-modal .modal_dl_wrap  .modal-body {
    font-size: 16px;
}
/******/
#eventModal button.close.reload {
    border: 1px solid #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #FFF;
}

#eventModal button.close.reload span {
    font-size: 16px;
}

#eventModal h3 {
    font-size: 20px;
}

/* media start*/
@media(max-width:768px)
{
    .display.bbb .action {
        justify-content: center;
    }
    
    .display.bbb th:last-child {
        justify-content: center;
        display: flex;
    }

    /*data table scroll css start*/
    .table-responsive table.dataTable {
        width: auto !important;
    }
    
    table.dataTable:not(.fixedHeader-locked):not(.fixedHeader-floating) {
        width: auto !IMPORTANT;
    }
    /*data table scroll css end*/
}
/* admin announcement css end */

/* calender css start */
.calendar-default .fc-header-toolbar.fc-toolbar .fc-today-button {
    margin-right: 10px;
    text-transform: capitalize;
}
/* employee css start */
button.delete-button {
    background: transparent;
    border: 0;
    box-shadow: none;
}
h4.all_client {
    font-size: 20px;
    padding: 10px;
}
/* employee css end */

/* media start */
@media(max-width:1184px)
{
    footer.footer {
        margin: 0;
    }
}
/* calender css end */

/* open issue tracker css start */
@media(max-width:640px)
{
.all-issue .dt-buttons {
    text-align: left;
}
.all-issue .dataTables_filter {
    text-align: left !important;
    margin-top: 5px;
}
/* timesheet code start*/
.timesheetdata .dt-buttons {
    text-align: left;
}

.timesheetdata .dataTables_filter {
    text-align: left !important;
    margin-top: 5px;
    display: flex;
    margin-left: 0;
}
/* timesheet code end*/

/* employee css start */
.employee_nt .dt-buttons {
    text-align: left;
}

.employee_nt .dataTables_filter {
    text-align: left !important;
    margin-top: 5px;
}

}
/*** open issue tracker css end ***/
/*manualpolicy css start*/
.pol_nt .dataTables_length {
    display: flex;
    justify-content: left;
}

.pol_nt .dataTables_filter {
    display: flex;
}
/*manualpolicy css end*/

/* notification popup css start */
.onhover-dropdown .notification-box {
    position: relative;
    border: 1px solid #080808;
    padding: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-menus .onhover-dropdown {
    background: transparent !IMPORTANT;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.onhover-dropdown .notification-box .feather-bell {
    stroke: #000 !important;
    color: #000 !important;
}

.onhover-dropdown .notification-box .counter_list {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 18px;
    height: 18px;
    background: #ff0000;
    border-radius: 50%;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
body.dark-only .onhover-dropdown .notification-box {
    border-color: #FFF;
}

body.dark-only .onhover-dropdown .notification-box .feather-bell {
    stroke: #fff !important;
    color: #fff !important;
}

.notification-dropdown li {
    padding: 0 !important;
}

.notification-dropdown .inner_notify {
    background: #FFF;
}

.notification-dropdown .inner_notify .notify_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #DDD !IMPORTANT;
}

.main_ce_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 56.5vh;
    overflow: auto;
}

.main_ce_wrap ul {
    display: block;
    width: 100%;
}

.main_ce_wrap::-webkit-scrollbar {
  display: none;
} 

.notification-dropdown.onhover-show-div {
    box-shadow: 0px 0px 5px 2px #DDD;
}

.notification-dropdown .inner_notify .notify_head h2 {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 black;
    margin: 0;
}

.notification-dropdown .inner_notify .notify_head a {
    color: #2072F2;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 0 black;
    margin: 0;
    letter-spacing: normal;
}

.notification-dropdown .inner_notify ul li {
    border: 0 !important;
    display: flex;
    gap: 0px 20px;
    justify-content: space-between;
    border-radius: 0 !important;
    padding: 20px 30px !IMPORTANT;
    background: #F3F8FE !IMPORTANT;
    border-bottom: 1px solid #DDD !IMPORTANT;
    align-items: center;
}

.notification-dropdown .inner_notify ul li .image_nt img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.notification-dropdown .inner_notify ul li .image_nt .img_nt_wrap {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #CCC;
    overflow: hidden;
}

.notification-dropdown .inner_notify ul li .title_des {
    text-align: left;
    flex: 7;
}
.notification-dropdown .inner_notify .image_nt {
    flex: 1;
}

.notification-dropdown .inner_notify .time_nt {
    flex: 3;
}


.notification-dropdown .inner_notify ul li .title_des span {
    display: inline-block;
    font-weight: 500;
    text-shadow: 0 0 black;
    padding: 0px 5px 0px 0px;
    font-size: 14px;
}

.notification-dropdown .inner_notify ul li .title_des p {
    display: inline;
    color: #666763;
    opacity: 1 !IMPORTANT;
    text-shadow: 0 0 #666763;
}

.notification-dropdown .inner_notify ul li .time_nt span {
    color: #C2C3C6;
    font-size: 14px;
    display: flex;
}
.notification-dropdown .inner_notify .time_nt span.cliient, .notification-dropdown .inner_notify ul li .time_nt span.emmp {
    font-size: 11px;
    color: #ff0000 !important;
    text-shadow: 0 0 #ff0000;
}
body.dark-only .notification-dropdown .inner_notify {
    background: #171829;
}

body.dark-only .notification-dropdown .inner_notify ul li {
    background-color: #363856 !IMPORTANT;
}

body.dark-only .page-wrapper .page-header .header-wrapper .nav-right .onhover-show-div:not(.profile-dropdown) li:first-child {
    background-color: #363856 !IMPORTANT;
}

body.dark-only .notification-dropdown .inner_notify ul li span {
    color: #FFF !important;
}

/***policy annual dropbox css start***/
.file-area {
    width: 100%;
    min-height: 200px;
    border: 2px dashed #D2DBE5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 20px;
}

.file-dummy .default {
    font-weight: 600;
    color: #9f9f9f;
    font-size: 16px;
}
.file-dummy .upload_icon {
    display: flex;
    justify-content: center;
    margin: 0px 0px 3px;
}

.file-area .upload_icon svg {
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
    top: unset;
    fill: #9f9f9f;
}
.file-dummy .default .fille {
    border-bottom: 1px solid #9f9f9f;
}
.file-dummy .success {
    font-weight: 600;
    color: #000;
}
.basic-file {
    margin-bottom: 10px;
    display: block;
    color: #9f9f9f;
    text-transform: capitalize;
}

/**client dashboard css start***/
.main_nt_wrapp {margin: 20px 0px 100px 0px;}

.basic_table.main_nt_wrapp .card-header .modal-title {
    font-size: 17px;
}

.basic_table.main_nt_wrapp .card {
    height: 100%;
    background: #3f3bfa00;
}

.basic_table.main_nt_wrapp  .danger_image {margin:  0 auto;border-radius: 30px;display: flex;align-items: center;justify-content: center;}

.basic_table.main_nt_wrapp .danger_image img {
    max-width: 15%;
    margin: 0 auto;
}
.hvr-wobble-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    webkit-animation-name: hvr-wobble-bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: hvr-wobble-bottom;
    animation-name: hvr-wobble-bottom;
    animation-delay: 2s;
    animation-iteration-count: infinite;


}
/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}


.basic_table.main_nt_wrapp .col-sm-6:last-child .modal-title {
    text-align: right;
}

.basic_table.main_nt_wrapp  .text-danger {
    background: #FFCCCC;
    padding: 10px 20px;
    margin: 10px 0px 20px;
    border-radius: 5px;
}

.basic_table.main_nt_wrapp .btn_time {
    display: block;
    text-align: center;
}

.basic_table.main_nt_wrapp .card .card-body {
    display: block;
    vertical-align: middle;
    padding: 20px 30px;
}
.basic_table.main_nt_wrapp .card  .card-header {
    padding: 20px 30px;
}

.basic_table.main_nt_wrapp .alert_wrap {margin-bottom: 70px;}

.basic_table.main_nt_wrapp .col-sm-6:first-child .card-body {
    display: flex;
    align-items: center;
}

/**founder team section start***/
.main_ft_wrap .row {
    padding: 50px 20px;
    background: #FFF;
    margin-bottom: 60px;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.main_ft_wrap .row .col_text {
    max-width: 85%;
}

.main_ft_wrap .row .col_text h2 {
    color: #000;
    font-size: 24px;
    position: relative;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 5px 0px;
}
.main_ft_wrap .row .col_text p {
    text-align: justify;
}

.main_ft_wrap .row .col_text h2:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 80px;
    height: 2px;
    background: #000;
}

.main_ft_wrap .row .col_text h2:first-letter {
    font-size: 35px;
    color: #5c92fb;
}

.main_ft_wrap .row .col_iamge img.mt-4 {
    margin: 0 !important;
    border: 1px solid #f5f5f5;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
}

.main_team.main_ft_wrap .row {
    flex-direction: row-reverse;
}

.main_team.main_ft_wrap .row .col_text {
    justify-content: end;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main_team.main_ft_wrap .row .col-md-6 {
    text-align: -webkit-right;
}

.main_team.main_ft_wrap .col-md-6 {
    justify-content: end;
    display: f;
}

.main_team.main_ft_wrap .row .col-md-6 h2 {
    display: none;
}

.dark-only .main_ft_wrap .row {
    background: #171828;
}

.dark-only .main_ft_wrap .row .col_text h2 {
    color: #FFF;
}

.dark-only .main_ft_wrap .row .col_text h2:first-letter {
    color: #5b91fb;
}

.dark-only .main_ft_wrap .row .col_text h2:before {
    background: #fff;
}

.dark-only .main_ft_wrap .row .col_iamge img.mt-4 {
    border-color: #171827;
}

/***emp dashboard clint css start***/
.client_nt.all-issue .dataTables_length {
    text-align: left;
}

/******/
.custon_row_nt .row label {
    text-shadow: 0 0 black;
    font-size: 13px;
    margin-bottom: 6px;
}

.custon_row_nt .row .col-lg-12 {
    margin-bottom: 15px;
}

/****desktop sidebar css start****/
@media(max-width:1920px) and (min-width:1184px)
{
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li a span {
        display: none !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon {
        width: auto !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon .logo-wrapper .mill {
        display: none !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon .logo-wrapper 
     span {
        display: none !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon  .simplebar-wrapper {
        margin: 0 !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon  img {
        display: none !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon  .simplebar-content-wrapper {
        overflow: hidden !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon  .simplebar-track.simplebar-vertical {
        visibility: hidden !important;
        display: none !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon .simplebar-placeholder {
        width: 97px !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon:hover .sidebar-main .sidebar-links {
        overflow: visible !important;
        padding: 0 !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon:hover .logo-wrapper {
        border: 0 !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon:hover .logo-wrapper {
        display: none;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon:hover .logo-icon-wrapper {
        display: block;
    }

    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon .logo-wrapper {
    display: block !IMPORTANT;
    border: 0;
    }

    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon .logo-icon-wrapper {
    display: none !IMPORTANT;
    }

    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon:hover .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content {
        padding: 0 !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon:hover .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li {
        max-width: 86px !important;
        text-align: center !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon:hover .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li>a {
        padding: 12px 14px !important;
    }
    
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon:hover .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li .sidebar-link svg {
        margin-right: 0 !important;
    }
    .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper.close_icon .simplebar-mask .simplebar-content-wrapper .simplebar-content>li.sidebar-list i {
        display: none;
    }
}
/****desktop sidebar css end****/

/***good morning effect***/

@keyframes color-morning {
    from {
      background-position: 0% 50%;
    }
    to {
      background-position: 100% 50%;
    }
  }
  #greeting {
    color: transparent;
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(238, 100, 10, 1) 7%,
      rgba(210, 169, 39, 1) 14%,
      rgba(234, 252, 62, 1) 21%,
      rgba(134, 248, 82, 1) 28%,
      rgba(99, 245, 156, 1) 35%,
      rgba(87, 241, 215, 1) 42%,
      rgba(75, 216, 237, 1) 49%,
      rgba(66, 158, 239, 1) 56%,
      rgba(57, 74, 241, 1) 63%,
      rgba(126, 45, 244, 1) 70%,
      rgba(162, 84, 247, 1) 77%,
      rgba(229, 117, 249, 1) 84%,
      rgba(251, 103, 164, 1) 91%,
      rgba(253, 127, 190, 1) 97%,
      rgba(255, 0, 191, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 500%;
    animation: color-morning 10s linear infinite;
  }

  /***aletr successful css start***/
  .alert.alert-success {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    margin: 0;
}

/*table css ****/
table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table th {
    background: #f1f1f1;
}

body.dark-only table tbody tr {
    background-color: #22262f !IMPORTANT;
}

body.dark-only table th {
    background: #10101c !IMPORTANT;
}
body.dark-only .dataTables_wrapper table.dataTable, body.dark-only .dataTables_wrapper table.dataTable thead th, body.dark-only .dataTables_wrapper table.dataTable thead td {
    border-color: #323347;
}
body.dark-only table tbody tr, body.dark-only table tbody th, body.dark-only table tbody td {
    border-color: #323347 !IMPORTANT;
}
.dataTables_wrapper div.dataTables_paginate {
    border: 0;
}
body.dark-only .footer {
    border-top: 1px solid #10101c;
    background-color: #171829;
}
body.dark-only .basic_table .card-body .alert.p-2 {
    border-color: transparent !IMPORTANT;
}

/*loader css start*/
div#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255,0.8);
    top: 0;
    left: 0;
    z-index: 9;
}

div#loader .inner_load {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#loader .inner_load img {
    filter: contrast(0.5);
    max-width: 4%;
}

/**profile page css start***/
.t_wrap_nt {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.t_wrap_nt .t_show_me {
    margin: 0px 0px 0px 20px;
}

/***all popup css start***/

.modal .modal-content .modal-header {
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.modal .modal-content .modal-header button.close {
    border: 0 !IMPORTANT;
    width: 30px !important;
    height: 30px !IMPORTANT;
    background: transparent;
    padding: 0 6px;
    margin: 0;
    opacity: 1;
}
.modal .modal-content .modal-header button.close svg {
    height: 100%;
    width: 100%;
}

.modal .modal-content .modal-header .modal-title {
    display: none;
}

.modal .modal-content .modal-body h3 {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.modal .modal-content .modal-body button.btn {
    width: 100%;
    border-radius: 7px;
    padding: 13px 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.modal .modal-content .modal-footer button.btn{
    width: 100%;
    border-radius: 7px;
    padding: 13px 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.modal .modal-content .modal-body .form-group label {
    color: #000;
    font-size: 14px;
    text-shadow: 0 0 black;
    letter-spacing: 0.5px;
}
.download_nt {
    color: #5c61f2;
    margin: 7px 0px;
    display: inline-block;
    text-decoration: underline;
    font-size: 12px;
}
/***all popup css end***/


/***dashboard new color css start***/
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper {
    background: linear-gradient(1deg, #81ACFF 14.53%, #5790FF 72.91%);
}

.logo-wrapper .toggle-sidebar {
    display: none;
}

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-wrapper {
    text-align: center;
}

.sidebar-wrapper .logo-wrapper .mill {
    text-align: center;
}
.dashboard .alert.bg-light-info {
    background: linear-gradient(356deg, #81ACFF 14.53%, #5790FF 72.91%);
}

.dashboard .card::-webkit-scrollbar-thumb {
    background: linear-gradient(356deg, #81ACFF 14.53%, #5790FF 72.91%);
}

#sidebar-menu li.sidebar-list i {
    right: 0;
    color: #FFF;
}
#sidebar-menu .simplebar-content li:last-child {
    display: none;
}
.page-wrapper.compact-wrapper .page-header .header-wrapper .toggle-sidebar {
    background: linear-gradient(356deg, #81ACFF 14.53%, #5790FF 72.91%);
}
.tap-top {
    background: linear-gradient(356deg, #81ACFF 14.53%, #5790FF 72.91%);
}
/***dashboard new color css end***/

/**darkmode css start***/
/*****/
.dark-only table.dataTable thead .sorting_asc, .dark-only table.dataTable thead .sorting_desc {
    background-repeat: no-repeat !important;
    background-position: center right !important;
}
.dark-only .modal .modal-content .modal-header button.close svg rect {
    stroke: #FFF;
    fill: #FFF;
}
.dark-only .theme-form input, .dark-only .theme-form select, .dark-only .theme-form textarea {
    background-color: #10101c !IMPORTANT;
    color: rgba(255,255,255,0.5) !important;
    border: 1px solid #323347 !important;
}
body.dark-only .page-wrapper .page-body-wrapper .page-body  .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: rgba(255,255,255,0.8) !important;
}
body.dark-only .page-wrapper .page-body-wrapper .page-body .card:not(.email-body) .dataTables_wrapper .dataTables_paginate {
    border: 0;
}
body.dark-only .page-wrapper .page-body-wrapper .page-body  .dataTables_wrapper .dataTables_paginate {
    border: 0;
}
body.dark-only .page-wrapper .page-body-wrapper .page-body  .dataTables_wrapper .dataTables_filter input[type="search"] {
    background-color: #10101c !important;
    border: 1px solid #10101c !important;
    color: rgba(255,255,255,0.8) !important;
}
body.dark-only .page-wrapper .page-body-wrapper .page-body .dataTables_wrapper .dataTables_length, body.dark-only .page-wrapper .page-body-wrapper .page-body .dataTables_wrapper .dataTables_filter, body.dark-only .page-wrapper .page-body-wrapper .page-body .dataTables_wrapper .dataTables_info, body.dark-only .page-wrapper .page-body-wrapper .page-body .dataTables_wrapper .dataTables_processing, body.dark-only .page-wrapper .page-body-wrapper .page-body .dataTables_wrapper .dataTables_paginate {
    color: rgba(255,255,255,0.8);
}
body.dark-only .file-area .file-dummy {
    background: transparent;
    border: 0;
}

body.dark-only .file-area .file-dummy .default {
    color: #9f9f9f;
}

body.dark-only .file-area .upload_icon svg {
    fill: #9f9f9f;
}
body.dark-only .file-dummy .default .fille {
    border-color: #9f9f9f;
}
body.dark-only .file-dummy .success {
    color: #9f9f9f;
}
body.dark-only .select2-container--default .select2-search--inline .select2-search__field {
    border: 0 !important;
}

body.dark-only .select2-container--default .select2-search--inline .select2-search__field::placeholder {
    color: #FFF !IMPORTANT;
}
body.dark-only #eventModal button.close.reload{
    background: transparent;
}
body.dark-only .modal .modal-content .modal-body .form-group label {
    color: #FFF;
}
body.dark-only .modal .modal-content .modal-bodys h2 {
    color: #FFF;
}
body a.dt-button.buttons-collection {
    background: linear-gradient(1deg, #81ACFF 14.53%, #5790FF 72.91%) !important;
    border-radius: 7px !important;
    border-color: transparent  !important;
}
body div.dt-button-collection {
    width: auto !important;
}

body div.dt-button-collection a.dt-button.buttons-html5 {
    background: linear-gradient(1deg, #81ACFF 14.53%, #5790FF 72.91%) !important;
    border-radius: 7px !important;
    border-color: transparent  !important;
}
/**darkmode css end***/

@media(max-width:767px)
{
    .page-wrapper .page-header .onhover-dropdown .notification-dropdown {
        width: 100% !IMPORTANT;
        max-width: 96%;
        margin: 0 auto !important;
    }
    
    .page-wrapper .page-header .header-wrapper .nav-right .onhover-show-div {
        right: 0 !IMPORTANT;
        left: 0 !important;
    }
    div#pageWrapper.page-wrapper .page-header .header-wrapper .nav-right .onhover-show-div {
        right: 0 !important;
    }
    .notification-dropdown .inner_notify ul li .title_des p {
        font-size: 11px;
    }
    .notification-dropdown .inner_notify ul li .time_nt span {
        font-size: 12px;
    }
    .onhover-dropdown .notification-box {
        height: 30px;
        width: 30px;
        padding: 2px;
    }
    .onhover-dropdown .notification-box .counter_list {
        width: 16px;
        height: 16px;
        font-size: 11px;
    }
    .main_nt_wrapp .table-responsive .dataTables_filter {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media(max-width:576px)
{

    .file-dummy .upload_icon svg {
        width: 35px;
        height: 35px;
    }

    .main_nt_wrapp .col-sm-6 {margin-bottom: 30px;}


.basic_table.main_nt_wrapp .card-header .modal-title {
    font-size: 16px;
}

.basic_table.main_nt_wrapp .col-sm-6:last-child .modal-title {
    text-align: left;
}

.basic_table.main_nt_wrapp {
    margin: 20px 0px 30px 0px;
}

.main_ft_wrap .row {max-width: 100%;margin: 0 auto;padding: 30px 20px;}

.main_ft_wrap .row .col_text {max-width: 100%;}

.main_ft_wrap {
    margin-bottom: 40px;
}
.main_nt_wrapp .table-responsive .dataTables_length {
    text-align: left;
}

.side_border {
    border: 0 !IMPORTANT;
}

}