
.page-wrapper .page-body-wrapper {
    background: transparent !IMPORTANT;
}

body {
    background: #1E1E1E;
}

.publiklink {
    height: 100vh;
}

.publiklink .table-responsive {
    margin: 0;
    border: 0;
    border-radius: 10px;
    padding: 30px 0px;
}

.publiklink table th {
    background: #161616 !IMPORTANT;
    color: #FFF !IMPORTANT;
}

.publiklink table tbody tr {
    border-bottom: 1px solid #363636 !IMPORTANT;
}
.publiklink table tbody tr {
    border-color: #313131;
}
.publiklink table tr td {
    padding: 15px 10px 15px 10px;
}
.publiklink tbody tr td {
    color: #9D9D9D !IMPORTANT;
}


.publiklink table td {
    background: transparent;
    color: #989898;
}

.publiklink tbody tr td svg {
    width: 18px;
    height: 18px;
}

.publiklink tbody tr td button {
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
    display: flex;
}

.table_publik_head {
    margin: 0px 0px 15px;
    padding: 0px 5px;
}

.table_publik_head h2 {
    color: #A7A7A7;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.public_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px;
    padding: 50px 0px 50px;
}

.public_header .repo_by {
    padding: 0;
}

.public_header .publick_website a {
    background: #5790FF;
    display: inline-block;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    padding: 11px 15px;
    letter-spacing: normal;
    font-weight: 600;
}


/******advance page css start********/
.advance_search .public_header {
    justify-content: center;
        flex-wrap: wrap;
}

.advance_search .public_header h2 {
    margin: 0;
    padding: 0;
    color: #CEFFA8;
    font-size: 32px;
    font-weight: 600;
}

.pu_head {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
    position: relative;
}

.advance_search .public_header .search-box {
    height: 69px;
    background: #353535;
    line-height:40px;
    padding: 10px 10px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.4s ease-out;
}

.advance_search .public_header .search-box input {
    background: #353535;
    color: #fff;
    outline: none;
    border: none;
    line-height:40px;
    width: 0px;
    float: left;
    font-size:14px;
    transition: 0.7s ease;
}

.advance_search .public_header .search-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background: #353535;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: #ff5722;
    transition: 0.4s ease;
    box-shadow: none;
    border: 0;
    outline: none;
}

.advance_search .public_header .search-box:hover > .search-input{
    width: 240px;
    margin: 0px 8px;
}

.advance_search .public_header .search-input:focus{
    width: 240px;
    margin: 0px 8px;
}
.advance_search .public_header .search-box:hover > .search-btn{
    background: #161616;
}
.advance_search .public_header .search-input:focus + .search-btn{
    background: #161616;
}

.go_back_dashboard .milliondox {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #C5C5C5;
    display: flex;
    align-items: center;
    gap: 0px 6px;
}

.go_back_dashboard .milliondox svg {
    width: 16px;
    height: 16px;
}

.go_back_dashboard {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

/*******/
.advance_search .filters {
    display: flex;
    align-items: center;
    gap: 0px 15px;
    margin-bottom: 20px;
}

.advance_search .filters .filter_wrap {
    background: #303030;
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 0px;
}

.advance_search .filters .filter_wrap .dropdown {
    background-color: transparent;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    flex: 1;
    border-right: 1px solid #474747;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advance_search .filters .filter_wrap .dropdown .dorp_actvee {
    color: #CEFFA8;
    display: flex;
    align-items: center;
    gap: 0px 7px;
}

.advance_search .filters .filter_wrap .dropdown:last-child {
    border: 0;
}

.advance_search .filters .apply-filter {
    background-color: #CEFFA8;
    border: none;
    padding: 13px 20px;
    cursor: pointer;
    color: #191919;
    border-radius: 50px;
    font-weight: 700;
}

.advance_search .filters .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 150%;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 15px;
    background: #191919;
    border: 1px solid #303030;
}

.filter_wrap .rap_repaert h2.app_tile {
    color: #AEAEAE;
    margin: 0px 0px 10px;
    font-size: 14px;
    font-weight: 700;
}

.filter_wrap .rap_repaert {
    display: block;
    text-align: left;
}

.filter_wrap .rap_repaert 
 .rop_check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 13px;
    gap: 0px 10px;
}

.filter_wrap .rap_repaert .rop_check input {
    width: 15px;
    height: 15px;
    flex: unset;
    border-radius: 5px;
    opacity: 0.8;
    background: transparent;
}

.filter_wrap .rap_repaert .rop_check label {
    display: flex;
    align-items: center;
    margin: 0 !IMPORTANT;
    gap: 0px 3px;
    color: #E7E7E7;
}

.filter_wrap .rap_repaert:last-child {
    margin-top: 30px;
}

.advance_search .filters .dropdown-content .last_modi .from_date {
    margin-bottom: 10px;
}

.advance_search .filters .dropdown-content .last_modi .from_date label {
    display: block;
    color: #E7E7E7;
}

.advance_search .filters .dropdown-content .last_modi .from_date input {
    width: 100%;
    background: transparent;
    border: 1px solid #535353 !IMPORTANT;
    border-radius: 5px;
    color: #FFF;
    box-shadow: none;
    outline: none;
    padding: 8px 10px;
    color-scheme: dark;
}

.keybrd_main h2 {
    color: #AEAEAE;
    margin: 0px 0px 10px;
    font-size: 14px;
    font-weight: 700;
}

.keybrd_main {
    text-align: left;
}

.keybrd_main select {
    width: 100%;
    background: #191919;
    border: 1px solid #535353 ! IMPORTANT;
    border-radius: 5px;
    color: #FFF;
    box-shadow: none;
    outline: none;
    padding: 8px 10px;
}

.location_main h2 {
    color: #AEAEAE;
    margin: 0px 0px 10px;
    font-size: 14px;
    font-weight: 700;
}

.location_main {
    text-align: left;
}

.list_month, .main_quatot_calander, .radio_two_calander, .calendar-container  {
    pointer-events: none;
    opacity: 0.5;
}

.active-section {
    pointer-events: auto;
    opacity: 1;
}

.radio_on.select {
    margin: 30px 0px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.radio_on.select input {
    border: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    background: transparent;
    min-width: 0;
    flex: unset;
    position: absolute;
    opacity: 0;
    margin: 0;
}

.radio_on.select label {
    padding-left: 25px;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
    color: #AEAEAE;
}

.radio_on.select label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #efefef;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.radio_on.select label:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 9px;
    height: 9px;
    left: 5px;
    border-radius: 50%;
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1);
    margin: 0;
    top: 50%;
    transform: translateY(-50%) scale(0, 0);
    background-color: #CEFFA8;
}

.radio_on.select input[type="radio"]:checked+label::before{
        border-color: #CEFFA8;
}

.radio_on.select input[type="radio"]:checked+label::after {
        transform: translateY(-50%) scale(1, 1);
}

.public_dashbaord .go_back_dashboard {
    position: relative;
    top: unset;
    transform: unset;
    left: unset;
    padding: 30px 0px 0px;
    display: block;
}
.public_header.low_spacee {
    padding: 20px 0px 50px;
}



/******advance page css end********/


@media(max-width:1180px)
{
    .advance_search .filters {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px 0px;
}

.advance_search .filters .apply-filter {
    width: 100%;
    max-width: 300px;
}

.advance_search .filters .filter_wrap {
    width: 100%;
}

.publiklink tbody tr td:first-child {
    width: auto;
}

.advance_search .filters .filter_wrap .dropdown {
    flex: unset;
    width: 50%;
}

.advance_search .filters .filter_wrap {
    flex-wrap: wrap;
    gap: 30px 0px;
    padding: 20px 0px;
}

.advance_search .filters .filter_wrap .dropdown:nth-child(+2) {
    border: 0;
}

}

@media(max-width:576px)
{

.repo_by h2 {
    font-size: 15px;
}

.public_header .publick_website a {
    font-size: 12px;
    padding: 11px 8px;
}

/*******/
.advance_search .filters .filter_wrap {
    background: transparent;
    padding: 10px 0px;
    gap: 20px 0px;
}

.advance_search .filters .filter_wrap .dropdown {
    width: 100%;
    background: #303030;
    padding: 15px 10px;
    border-radius: 5px;
    border: 0;
}

.advance_search .filters {
    gap: 30px 0px;
}

.advance_search .public_header h2 {
    font-size: 22px;
}

.advance_search .public_header .search-box {
    height: 60px;
    justify-content: space-between;
}

.advance_search .public_header .search-box input {
    width: 240px;
    margin: 0px 8px;
}

.advance_search .public_header .search-box button {
    background: #161616;
}

.advance_search .filters .dropdown-content {
    top: 100%;
}

.go_back_dashboard .milliondox {
    font-size: 0px;
}

.go_back_dashboard {
    left: 10px;
}

.public_dashbaord .go_back_dashboard .milliondox {
    font-size: 14px;
}

}
